<div col-md-12 container>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" >Travel Application</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="home"><span class="glyphicon glyphicon-plane"></span> Search</a></li>
            <li><a ui-sref="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
</div>
